@import "custom";

@import "components/buttons";
@import "components/cards";
@import "components/footer";
@import "components/top-bar";
@import "components/header";
@import "components/search-bar";
@import "components/navbar";
@import "components/icons";
@import "components/theme-toggle";
@import "components/animations";

@import "home/hero";
@import "home/section-tags";
@import "home/categories";
@import "home/products";
@import "home/feature-product";
@import "home/services";
@import "home/newsletter";

@import "shop/hero";
@import "shop/filters";
@import "shop/pagination";
@import "shop/product-grid";
@import "shop/toolbar";

@import "contact/hero";
@import "contact/contact-info";
@import "contact/contact-main";