.hero-section {
    border-radius: 12px;
    border: 2px double #f3b88c;
    width: 80% !important;
    margin: auto;


    img {
        // height: 400px;
    }
}

.section-tag {
    color: #f3b88c;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 13px;
}

.category-card,
.product-card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.product-card img {
    max-height: 180px;
    object-fit: contain;
}

.add-to-cart {
    background: #f2f2f2;
    border-radius: 6px;
    font-weight: 600;
}